.nav-treeview {
    margin-left: 15px;
}

.nav-treeview .nav-item {
    margin-left: 10px;
}
.nav-treeview .nav-item a {
    padding-left: 10px;
}

.nav-link.active {
    color: #fff;
    background-color: #007bff;
    font-weight: bold;
}

.nav-treeview {
    padding-left: 20px;
}
